.panel-dark {
    border-color: #2c2c2c;
}
.panel-dark > .panel-heading, .panel-footer {
    color: #f0f0f0;
    background-color: #2a2a2a;
    border-color: #2c2c2c;
}
.panel-dark > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.panel-dark > .panel-heading .badge {
    color: #a5a5a5;
    background-color: #333 ;
}
.panel-dark > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd;
}

.panel-dark > .panel-body {
    color: #afafaf;
    background-color: #2c2c2c;
}

.background {
    background-color: #333333;
}

.corpo {
    margin-top: 60px;
}